.DS_Store
npm-debug.log
trash.rb
/lib/server/secrets.rb
/lib/client/css
/db/seed.sql

/node_modules/
/tmp
/log
/source

config.yml
coverage
public
spec/examples.txt
*.swp
package-lock.json
.bundle
.idea
.docker-build-mark
