.DS_Store
npm-debug.log
trash.rb
/lib/server/secrets.rb

/node_modules/
/lib/client/img/
/lib/client/fonts/
/tmp
/log
/source

*.eot
*.svg
*.ttf
*.woff
*.woff2

config.yml
coverage
public
spec/examples.txt
