.DS_Store
npm-debug.log
trash.rb
/server/secrets.rb

/node_modules/
/client/js/
/client/img/
/tmp
/log
/source

*.eot
*.svg
*.ttf
*.woff
*.woff2

db/migrations/002_add_base_data.rb
db/migrations/003_add_dummy_data.rb