 janus.development.local {
     log stdout
     # Mkcert - https://github.com/FiloSottile/mkcert
     tls /root/certs/janus.development.local.pem /root/certs/janus.development.local-key.pem

     proxy / http://janus_app:3000 {
         transparent
         header_upstream Host  "janus.development.local"
     }
 }

 metis.development.local {
     log stdout
     # Mkcert - https://github.com/FiloSottile/mkcert
     tls /root/certs/metis.development.local.pem /root/certs/metis.development.local-key.pem

     proxy / http://metis_app:3000 {
         transparent
         header_upstream Host  "metis.development.local"
     }
 }
