.white-glyphicon {

  color: #fff;
}

.light-text {

  color: #999;
  font-family: 'gotham_bookregular';
}

#header-group {

  position: relative;
  width: 100%;
  height: 90px;
}

#left-column-group {

  float: left;
  width: 100px;
}

.logo-group {

  position: absolute;
  top:10px;
  left:10px;
  width: 80px;
  height: 80px;
}

.logo-group img {

  width: 80px;
  height: 80px;
}

#listing-group {

  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

#nav-menu {

  position: absolute;
  left: 40px;
  right: 0px;
  bottom: 10px;
  height: 30px;
  
  /* fallback DIY*/
  background: #333366;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#666699), color-stop(0.25, #333366), color-stop(0.5, #333366), color-stop(0.75, #333366), to(#333366));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #666699, #333366, #333366, #333366, #333366);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #666699, #333366, #333366, #333366, #333366);

  /* IE 10 */
  background: -ms-linear-gradient(left, #666699, #333366, #333366, #333366, #333366);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #666699, #333366, #333366, #333366, #333366);
}

#title-menu {

  position: absolute;
  height: 30px;
  right: 0px;
  left: 0px;
  top: 10px;
  padding-left: 90px;
}

.title-menu-btn {

  margin-top: 5px;
  margin-left: 0px;
  font-family: 'gotham_boldregular';
  font-size: 1.8em;
  line-height: 12px;
  text-align: left;
  color: #333;
  background: none;
  border: 0px;
}

.title-menu-btn span {

  font-size: 0.5em;
  letter-spacing: 5px;
  font-family: 'gotham_bookregular';
}

#ucsf-logo {

  float:right;
  width: 50px;
  height: 22px;
  margin-top: 5px;
  margin-right: 12px;
}

#user-info-group {

  margin-top: 20px;
  font-family: 'gotham_bookregular';
  text-align: center;
}