<div id="nav">
  <div id="logo">
    <a href="/">
      <div class="image"></div>
    </a>
  </div>
  <div id="login"><%= @janus_user.name %><i class="fa fa-user-astronaut" title="administrator"></i></div>
</div>
