<script type='text/javascript'>

const copyToken = (e) => {
  let token = decodeURIComponent(
    document.cookie.replace(
      new RegExp("(?:(?:^|.*;)\\s*<%= Janus.instance.config(:token_name) %>\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1"
    )
  ) || null;
  if (token) {
    let input = document.createElement('input');
    input.value = token;
    document.body.appendChild(input);
    input.select();
    document.execCommand('copy',false);
    input.remove();
  }
}
</script>
<div id='identity-group'>
  <div class='title'>Your Identity</div>
  <div class='item'><%= @janus_user.name %></div>
  <div class='item'><%= @janus_user.email %></div>
  <div class='item'><button onclick='copyToken(event)'>Copy Token</button></div>
</div>
