<script type='text/javascript'>

const setError = (msg) => {
  let error = document.querySelector('#error');
  error.innerHTML = `Error: ${msg}`;
  error.style = 'display: block';
}

const uploadKey = (e) => {
  let input = document.querySelector('#pem');
  fetch('/update_key', {
    method: 'POST',
    mode: 'same-origin',
    credentials: 'same-origin',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ pem: input.value })
  }).then( response => {
    if (response.status == 200)
      window.location.href = '/'
    else {
      let error = new Error();
      error.response = response;
      throw error;
    }
  }).catch( error => {
    if (error.response) {
      error.response.json().then(
        ({error}) => setError(error)
      )
    } else throw error;
  })
}

</script>
<div id='keys-group'>
  <div class='title'>Your Keys</div>
  <% if @janus_user.public_key %>
    <div class='item'>
      <i class='fa fa-key'></i> <%= @janus_user.key_fingerprint.upcase %>
    </div>
  <% else %>
    <div class='item'>
      No registered keys
    </div>
  <% end %>
  <div class='item'>
    <textarea
      id='pem'
      placeholder='Paste 2048+ bit RSA key in PEM format'></textarea>
    <span style='display: none;' id='error'></span>
    <button onclick='uploadKey(event)'>Upload Key</button>
  </div>
</div>
