<div id="nav">
  <div id="logo">
    <a href="/">
      <div class="image"></div>
    </a>
  </div>
  <div id="login">
    <%= @user.name %>
    <i class="icon fa fa-fw fa-user-astronaut" title="administrator"></i>
  </div>
</div>
