<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <head>
    <title>
      Janus
    </title>
    <link type='text/css' rel='stylesheet' href='/css/reset.css' />
    <link type='text/css' rel='stylesheet' href='/css/fonts.css' />
    <link type='text/css' rel='stylesheet' href='/css/global.css' />
    <link type='text/css' rel='stylesheet' href='/css/login.css' />
    <link type='text/css' rel='stylesheet' href='/css/media.css' />
    <link rel='icon'  type='image/png' href='/img/favicon.png'>
  </head>
  <body>
    <div id='ui-group'>
      <%= @header %>
      <div id='janus-group'>
        <div class='projects-group'>
          Your Projects
          <% @janus_user.permissions.each do |permission| %>
            <div class='project'>
              <%= permission.project.project_name_full %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
