<!DOCTYPE html>
<html>

  <head>

    <title>

      Janus Auth Server
    </title>
    <link type='text/css' rel='stylesheet' href='/css/reset.css' />
    <link type='text/css' rel='stylesheet' href='/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='/css/fonts.css' />

    <link type='text/css' rel='stylesheet' href='/css/nav/title-bar.css' />
    <link type='text/css' rel='stylesheet' href='/css/nav/menu-bar.css' />
    <link type='text/css' rel='stylesheet' href='/css/auth/login-panel.css' />

    <link type='text/css' rel='stylesheet' href='/css/global.css' />
    <link type='text/css' rel='stylesheet' href='/css/media.css' />
  </head>
  <body>

    <div id='ui-group'></div>
    <script type='text/javascript' src='/js/libraries/utils.js'></script>
    <script type='text/javascript' src='/js/main.bundle.js'></script>
  </body>
</html>
